%nav.teal{:role => "navigation"}
  .nav-wrapper
    %a.brand-logo{:href => "#!"} Logo
    %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down
      %li
        %a{:href => "about.html"} About
      - if user_signed_in?
        %li
          = link_to current_user.email, edit_user_registration_path
        %li
          = link_to('Logout', destroy_user_session_path, :method => :delete)
      - else
        %li
          = link_to('login', new_user_session_path)
        %li
          = link_to('Register', new_user_registration_path)
    %ul#mobile-demo.side-nav
      %li
        %a{:href => "about.html"} About
      - if user_signed_in?
        %li
          = link_to current_user.email, edit_user_registration_path
        %li
          = link_to('Logout', destroy_user_session_path, :method => :delete)
      -else
        %li
          = link_to('login', new_user_session_path)
        %li
          = link_to('Register', new_user_registration_path)
